[submodule "modules/pytorch"]
	path = modules/pytorch
	url = https://github.com/pytorch/pytorch.git
[submodule "vendored/ocaml-yamlt"]
	path = vendored/ocaml-yamlt
	url = https://github.com/TheCBaH/ocaml-yamlt.git
[submodule "vendored/opickle"]
	path = vendored/opickle
	url = https://github.com/TheCBaH/opickle.git
[submodule "vendored/ocaml-model-explorer"]
	path = vendored/ocaml-model-explorer
	url = https://github.com/TheCBaH/ocaml-model-explorer.git
[submodule "vendored/err_trace"]
	path = vendored/err_trace
	url = https://github.com/TheCBaH/err_trace.git
[submodule "modules/devcontainer.pytorch-image-models"]
	path = modules/devcontainer.pytorch-image-models
	url = https://github.com/TheCBaH/devcontainer.pytorch-image-models.git
